.profile-container {
  background-color: yellow;
}
.profile-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: fit-content;
  background-color: aqua;
}
.profile-options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: fit-content;
  background-color: whitesmoke;
}

.profile-details {
}
.profile-details-name {
  color: tan;
  font-size: 38px;
}
.profile-details-role {
  color: tan;
  font-size: 64px;
}
.profile-picture {
  margin: 20px;
  height: 380px;
  width: 380px;
  background-color: green;
  border-radius: 50%;
}

.resume-btn {
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  line-height: 1;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.resume-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}
.resume-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.resume-btn:focus {
  box-shadow: #3c4fe0 0 0 0 2px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.contact-btn{
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 12px;
    background-image: radial-gradient(100% 100% at 100% 0, #5468ff 0, coral 100%);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    color: #fff;
    line-height: 1;
    transition: box-shadow 0.15s, transform 0.15s;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  .contact-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, coral 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .contact-btn:active {
    box-shadow: coral 0 3px 7px inset;
    transform: translateY(2px);
  }
  .contact-btn:focus {
    box-shadow: coral 0 0 0 2px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px, coral 0 -3px 0 inset;
  }

  