.profile-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: fit-content;
}

.profile-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  min-height: fit-content;
}
.profile-details-name {
  font-size: 52px;
}
.profile-details-role {
  font-size: 84px;
  width: 20vh;
}
.Typewriter__wrapper{
  position: absolute;
  width: 20vw;
}
.profile-picture {
  margin-left: 10vw;
  margin-top: 6vh;
  height: 380px;
  width: 380px;
  background-color: black;
  border-radius: 50%;
}

.resume-btn {
  height: 48px;
  border-radius: 6px;
  background-color: #B68D40;
  /* background-image: radial-gradient(
    100% 100% at 100% 0,
    #B68D40 0,
    #B68D40 100%
  ); */
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  line-height: 1;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.resume-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
  cursor: pointer;
}
.resume-btn:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.resume-btn:focus {
  box-shadow: #122620 0 0 0 2px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #122620 0 -3px 0 inset;
}

.contact-btn {
  height: 48px;
  border-radius: 6px;
  background-color: #B68D40;
  /* background-image: radial-gradient(100% 100% at 100% 0, #F4EBD0 0, #B68D40 100%); */
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  color: #fff;
  line-height: 1;
  transition: box-shadow 0.15s, transform 0.15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}
.contact-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, coral 0 -3px 0 inset;
  transform: translateY(-2px);
  cursor: pointer;
}
.contact-btn:active {
  box-shadow: coral 0 3px 7px inset;
  transform: translateY(2px);
}
.contact-btn:focus {
  box-shadow: #122620 0 0 0 2px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #122620 0 -3px 0 inset;
}

.profile-btn{
  width: 12rem;
}
@media screen and (max-width: 1024px) {
  .profile-container {
    padding: 0;
    margin: 0;
    justify-content: center;
  }
  .profile-details-role{
    height: 14vh;
  }
  .profile-parent {
    display: grid;
    padding: 0;
    padding-top: 4vh;
    text-align: center;
    min-height: fit-content;
  }
  .profile-details-name{
    font-size: 34px;
    margin: 0;
    justify-content: center;
  }
  .profile-details-role{
    margin: 0;
    justify-content: center;
    width: 100%;
    font-size: 60px;
  }
  .profile-picture {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 2vh;
    height: 22vh;
    width: 22vh;
  }
  .Typewriter__wrapper{
    position: relative;
    width: 100%;
    justify-content: center;
  }
  .profile-btn{
    width: 28vw;
  }
}
