.skills-wrapper {
  margin: 0.4rem;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skill-section {
  background-color: navy;
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: 1s;
}

.skill-section:hover {
  background: transparent;
  border-color: aqua;
}

.skill-section > h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.skill-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.skill-detail {
  display: flex;
  gap: 1rem;
}

.skill-detail-icon {
  margin-top: 6px;
  color: blue;
}
